<h1>Lists</h1>

<ul class="lists">
  <% @lists.each do |list| %>
    <%= render list %>
  <% end %>
</ul>

<%= form_for(@list) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :description %>
  <%= f.text_area :description, class: 'form-control' %>

  <%= f.submit 'Add List', class: "btn btn-primary" %>
<% end %>